html {
  height: 100%;
  width: 100%;
  background-color: #adcc9f;
  }

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(11, 66, 10);
}

a {
  color: #548240;
}

a:hover {
  color: #e0f0de;
}

index:header {
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 2px solid rgb(11, 66, 10);
}

header h1 {
  font-size: 2.5em;
  padding-bottom: 5px;
}

header nav {
  background-color: #9fbd84;
  padding-top: 5px;
  padding-bottom: 5px;
}

.clear {
  clear: both;
}

#project-container, #aboutme {
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
}

.project, #aboutme, footer {
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 2px solid rgb(11, 66, 10);
  display: flex;
  flex-flow: row wrap;
}

.project:last-child, div.aboutme:last-child, footer:last-child {
  border-bottom: none;
}

.inner {
  padding: 5px;
  flex: 1 200px;
}

.project img, #aboutme img {
  width: 100%;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.project video {
  width: 100%;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.project h2, #aboutme h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.project h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.project p {
  margin-bottom: 10px;
}

.AI {
  padding-bottom: 5px;
  padding-top: 5px;
}

footer {
  background-color: #9fbd84;
  text-align: center;
  color: #e0f0de;
}

footer div.content {
  text-align: center;
  padding: 15px;
}

footer div.spacer {
  height: 20px;
  background-color: #adcc9f;
}


header nav ul li {
  display: inline-block;
  border-right: solid 1px;
  margin-right: 2px;
  padding-right: 5px;
  width: 140px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

header nav ul li:hover{
  background-color: #77a662;
}

header nav ul li a {
  color: #e0f0de;
  text-decoration: none;
}

header nav ul li a:hover {
color: #e0f0de;
}

header nav ul li:last-child {
  border-right: solid 0px;
}

@media screen and (max-width: 400px) {
  header nav ul li {
    display: block;
    border-right: solid 1px;
    margin-right: 2px;
    padding-right: 5px;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

